@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --bg-color:#f4f4f4;
  --second-color:#cdca27;
  --text-color:#383848;
  --p-color: #9a9a9a;
  --contact-bg-color:#0f8a488e;
  --vav-bottomborder:#0f8a48;
  --input-texeara-color:#f4f4f4;
  --nav-a-hover :#38384890;
  --cart-color:#f4f4f4;  
  --navbar-bg-color:#1d1b27;
  --svg-color:#cdca27;
}
.darkmode {
  --bg-color:#1d1b27;
  --second-color:#cdca27;
  --text-color:#f4f4f4;
  --p-color: #dcdcdc;
  --contact-bg-color:#969595;
  --vav-bottomborder:#cdca27;
  --input-texeara-color:#f4f4f4;
  --nav-a-hover :#cdca27;
  --cart-color :#f4f4f4;
  --navbar-bg-color:#1d1b27;
  --svg-color:#f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", sans-serif;

}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
.container {
  max-width: 1100px;
  margin: auto;
}
/* Utility Classes */
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.btn-primary {
  border: 1px solid #fff;
}
.btn-secondary,
.btn-third:hover {
  background: #383848;
}
.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
  background: var(--nav-a-hover);
  transition: all 0.3s ease;
}
.primary-text {
  color: var(--second-color);
}
.primary-text2 {
  color: var(--bg-color);
}
/* Header Start */
.navbac {
  /* background-color:var(--navbar-bg-color);
  backdrop-filter: blur(10px); */
  position: fixed;
  height: 52px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  transition: top 0.3s ease-in-out , opacity 0.3s ease-in-out;
}
#navbar {
  max-width: 1200px;
  margin: auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  /* background-color:  #383848; */
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
#navbar img {
  width: 40px;
  margin: 0 10px;
}
nav ul {
  display: flex;
}
nav ul li a {
  padding: 15px 18px;
  font-weight: 600;
  position: relative;
}
nav ul li a::before {
  content: '';
  width: 0px;
  height: 2px;
  background: var(--second-color);
  position: absolute;
  top: 40px;
  transition: 0.3s;
}
nav ul li:hover a::before {
  width: 60%;
  height: 2px;
  border-radius: 20px;
}
/* nav ul li a:hover {
  border-bottom: 2px solid #e4b95b;
} */
/* gggg */
.lilnav {
  max-width: 1200px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 53px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  font-size: 18px;
  background-color:rgba(0, 0, 0, 0);
  /* backdrop-filter: blur(10px); */
  border-radius: 20px;
  z-index: -1;

}
.navbac .lilnav .select {
  display: flex;
  padding: 5px 10px;
  gap: 1em;
  /* background-color: var(--contact-bg-color);
  color: var(--cart-color);
  cursor: pointer; */
}
.lilnav .select h6 {
  color: var(--cart-color);
}
.navbac .lilnav .select {
  display: flex;
  padding: 5px 20px;
  gap: 1em;
  /* background-color: var(--contact-bg-color);
  color: var(--cart-color);
  cursor: pointer; */
}
.select .select-box {
  border: none;
  /* appearance: none; */
  padding: 3px 20px 3px 15px;

  color: var(--cart-color);
  background-color: var(--nav-a-hover);
}

/* darkmode style */
#theme-switch {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 50%;
  background-color: var(--header-h1);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed;
  top: 20px;
  right: 423px; */
  cursor: pointer;
  margin: 0px 20px;
}
#theme-switch svg {
  fill: var(--svg-color);
}
#theme-switch  svg:last-child{
  display: none;
}
.darkmode #theme-switch  svg:first-child {
  display: none;
}
.darkmode #theme-switch  svg:last-child {
  display: block;
}
/* darkmode style end*/

.content .bgclip {
  position: absolute;
  right: 0;
  bottom: 0;
}
header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%; /* Add exmple of greeen background */
}
header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header .content h3 {
  position: absolute;
  font-size: 30px;
  color: #fff;
}
header .content h1 {
  margin-top: 15rem;
  font-size: 40px;
  color: #fff;
}
header .content p {
  color: #fff;
  margin: 20px 0 40px;
}
header * {
  z-index: 10;
}
/* Header End */

/* About Start */
#about {
  height: 100dvh;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .title,
#offers .title,
#menu .title {
  text-align: center;
  margin-bottom: 4rem;
}
#about h2,
#offers h2,
#menu h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
#about h2 {
  color: var(--text-color);
  margin-top: 4rem;
}
#about .title p {
  font-weight: 600;
  font-size: 14px;
  color: #9a9a9a;
}
#about .about-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
#about .about-content p {
  margin-right: 0rem;
  line-height: 1.6;
  color: #9a9a9a;
  font-weight: 500;
  padding: 0 10px;
}
#about #redimg {
  width: 200px;
  margin-right: 1rem;
}
#about .about-content #read_more_style {
  background-color: var(--text-color);
  color: rgb(224, 9, 9);
  border-radius: 10px;
  padding: 10px 10px;
}
#about .about-content a {
  margin-top: 2rem;
}
/* About End */

/* Offers Section start */
#offers {
  height: 100dvh;
  background: url("../img/offer-background.jpg") center center/cover fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#offers h2 {
  color: var(--second-color);
  margin-top: 2rem;
}
#offers .title p {
  color: #fff;
  font-weight: 500;
}
#offers .offers-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
#offers .offers-items img {
  width: 200px;
}
#offers .offers-items .che {
  width: 107px;
}
#offers .offers-items h3 {
  font-size: 25px;
  color: #fff;
  margin: 15px 0;
}
#offers .offers-items p {
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
  font-weight: 300;
  margin-bottom: 15px;
}
#offers .offers-items span {
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
}
/* Offers Section end */

/* Menu Section Start */
#menu {
  background: var(--bg-color);
  padding: 5rem 0;
}
#menu .title h2 {
  color: var(--text-color);
}
#menu .title p {
  color: var(--p-color);
  font-weight: 500;
}
#menu .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu .menu-items .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
#menu .menu-items .menu-item img {
  width: 80px;
  margin-right: 20px;
  border-radius: 50%;
}
#menu .menu-items .menu-item h3 {
  color: #5f5f76;
  border-bottom: 1px dashed #c2bdbd;
  padding-bottom: 10px;
  position: relative;
}
#menu .menu-items .menu-item span {
  position: absolute;
  right: 0px;
  top: 0;
}
#menu .menu-items .menu-item p {
  margin-top: 10px;
  color: var(--p-color);
}
#menu .btn {
  display: block;
  margin: auto;
  border: none;
  margin-top: 30px;
}
/* Menu Section End */

/* Daytime section Start */
#paner {
  background: url("../img/daytime_bg.jpeg") center center/cover fixed no-repeat;
  color: #fff;
  text-align: center;
}
#paner .paner-items img {
  width: 100px;
}
#paner .paner-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
}
#paner .paner-items h4 {
  font-size: 25px;
  margin: 20px 0 15px;
}
#paner .paner-items p {
  font-weight: 500;
  margin: 0 0 8px;
}

/* Daytime section End */

/* Gallery section start */
#gallery {
  background: url("../img/offer-background.jpg") center center/cover;
  padding: 4rem 0 6rem;
  z-index: -1;
}
#gallery h2 {
  font-size: 40px;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 30px;
}
#gallery .imggallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#gallery .imggallery img {
  margin: 20px;
  width: 200px;
  border-radius: 15px;
  opacity: 0.8;
}
#gallery .imggallery img:hover {
  opacity: 1;
}
/* Gallery section end */

/* Contact Section start */
#contact {
  background: var(--bg-color);
  padding: 5rem 0;
}
#contact .container {
  max-width: 900px;
}
#contact .contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#contact .contact-info {
  width: 50%;
}
#contact .contact-info div {
  margin: 30px 0;
  line-height: 1.7;
}
#contact .contact-info h3 {
  font-size: 28px;
  color: var(--p-color);
  margin-bottom: 10px;
}
#contact .contact-info p {
  color: #9a9a9a;
}
#contact .contact-info p i {
  color: var(--second-color);
  margin-right: 5px;
}
#contact .contact-info a i {
  color: #fff;
  background: #383848;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
}
#contact .contact-info a i:hover {
  background-color: var(--second-color);
  color: #383848;
  transition: all 0.3s ease;
}
form {
  width: 50%;
}
form input,
textarea {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin: 20px 0;
  border: none;
  background-color: #e3e2dd;
}
form input:focus,
textarea:focus {
  outline: none;
}
form button {
  color: #fff;
}
/* Contact Section End */
/* Footer Start */
#footer {
  background-color: #383848;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
}
#footer p {
  padding: 2px 0;
}
/* Footer End */

/* Responsiveness */
/* Medium Screen + Tablet */
@media (max-width: 1000px) {
  #navbar img {
    margin-left: 20px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav ul li a {
    padding: 10px;
  }
  header .content h1 {
    font-size: 28px;
  }
  #about {
    height: auto;
    padding: 4rem 2rem;
  }
  #about .about-content p {
    margin-right: 2rem;
  }
  #about img {
    width: 250px;
    height: 240px;
  }
  #offers .offers-items img {
    width: 150px;
  }
  #offers .offers-items h3 {
    font-size: 18px;
  }
  #contact .contact-content {
    flex-direction: column;
  }

  @media (max-width:600px) {
    nav ul {
        display: none;
    }
    #toggle {
        margin-top: 0px;
        margin-right: 20px;
        width: 30px;
        height: 30px;
        background-color: aliceblue;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* display: none; */
    }
    #toggle::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background-color: #0f8a48;
        transform: translatey(-5px);
        transition: 0.3s;
    }
    #toggle::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background-color: #0f8a48;
        transform: translatey(5px);
        transition: 0.3s;
    }
    #toggle.active::before {
        transform: translatey(0px) rotate(43deg);
        background-color: red;
        z-index: 999;

    }
    #toggle.active::after {
        transform: translatey(0px) rotate(-43deg);
        background-color: red;
        z-index: 999;
    }
    #sidebar {
        position: fixed;
        top: 0px;
        left: -790px;
        width: 60%;
        height: 100vh;
        background-color: #1d1b27f0;
        backdrop-filter: blur(10px);
        filter: drop-shadow(100px);
        transition: 0.3s ease-in-out;
        border-right: 1px solid var(--second-color);
        z-index: 999;
    }
    #sidebar.active {
        left: 0px;
    }
    #navbar nav ul {
        display: block;
        list-style: none;
        margin-top: 8rem;
        text-align: center;
        color: #9a9a9a;
    }
    #navbar nav ul li {
        padding: 1rem 0px;
        letter-spacing: 2px;
    }
    #navbar nav ul li a {
        text-decoration: none;
        color: var(--cart-color);
        font-size: 1.1rem;
        font-weight: 400;
        transition: all 0.2s ;
    }
    #navbar nav ul li a:hover {
        color: #898d92;
    } 
    .listproduct {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #offers {
        height: auto;
        padding: 30px 10px;
      }
      #offers .offers-items {
        flex-direction: column;
      }
      #about .about-content {
        flex-direction: column;
      }
  
      #about .about-content a {
        margin: 2rem 0;
      }
  
      #about img {
        display: none;
      }
      .contant .listproduct img {
        width: 120px;
    }
    #offers .offers-items img {
        width: 120px;
    }
} 
  /* Mobile Devices */
  @media (max-width: 600px) {
    #theme-switch {
      margin: 0px 30px;
    }
    #navbar ul {
      display: none;
    }
    header .content h1 {
      font-size: 19px;
    }
    header .content p {
      font-size: 14px;
    }
    #about .about-content {
      flex-direction: column;
    }
    #about .about-content a {
      margin: 2rem 0;
    }
    #about #redimg {
      display: flex;
    }
    #about #redimg {
      width: 150px;
      height: 150px;
    }
    #offers {
      height: auto;
      padding: 30px 10px;
    }
    #offers .offers-items {
      flex-direction: column;
      gap: 2rem;
    }
    #menu .menu-items {
      display: block;
    }
    #menu .menu-items .menu-item {
      margin: 20px 10px;
    }
    #paner .paner-items {
      display: block;
      height: auto;
      padding: 30px 0;
    }
    #paner .paner-items .paner-item {
      margin-top: 20px;
    }
    #contact .contact-info,
    form {
      width: 80%;
    }
  }
  #about .container .title h2 {
    font-size: 30px;
  }
  #about .container .title p {
    font-size: 14px;
  }
  #offers .container .title h2 {
    font-size: 30px;
  }
  #offers .container .title p {
    font-size: 14px;
  }
  #menu h2 {
    font-size: 30px;
  }
  #menu p {
    font-size: 14px;
  }
  #gallery h2 {
    font-size: 30px;
  }
  #gallery .imggallery img {
    margin: 20px;
    width: 200px;
  }
  #footer p {
    font-size: 12px;
  }
  #contact .contact-info h3 {
    font-size: 25px;
  }
}


/* ----------------------------------------------------------------- */

/* @keyframes apper {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
} */
/* .about-content p,
.title h2,
.title p,
.offers-items p, 
.offers-items h3,
.offers-items img,
.menu-items .menu-item, 
.menu-items .menu-item img,
.menu-items .menu-item .che,
#gallery h2,
.imggallery img {
  animation: apper 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */

/* ----------------------------------------------------------------- */

/* js animations start --------------------------------------------- */

.animation {
  opacity: 0;
  transform: translatey(60px);
  transition: all 0.7s;
}
.anishow {
  opacity: 1;
  transform: translatey(0);
}
.imgg {
  opacity: 0;
  transform: translatey(60px);
  transition: all 0.7s;
}
.show {
  opacity: 1;
  transform: translatey(0);
}

.row{
  opacity: 0;
  transform: translatey(60px);
  transition: all 0.7s;
}
.show2 {
  opacity: 1;
  transform: translatey(0);
}
input{
  opacity: 0;
  transform: translatey(60px);
  transition: all 0.7s;
}
input:nth-child(2){
  opacity: 0;
  transform: translatey(60px);
  transition: all 0.7s;
}
.show3:nth-child(2) {
  opacity: 1;
  transform: translatey(0);
}
.show3 {
  opacity: 1;
  transform: translatey(0);
}
/* textarea{
  opacity: 0;
  transform: translatey(150px);
  transition: all 0.5s;
}
.show4 {
  opacity: 1;
  transform: translatey(0);
} */

/* js animations End --------------------------------------------- */
